.text-white{
    color: #fff;
}

.hidden {
    overflow: hidden;
    display: none;
    visibility: hidden;
  }

 .no-height {
    height: 0px !important;
}
/* // 206.189.87.181 */

html {
  scroll-behavior: smooth;
}

.section-gal{
  column-width: 300px;
  column-gap: 5px;
  padding: 5px;
}

section img{
  width: 100%; 
}

.gallery {
  width: 330px;
  margin: 0;
  padding: 0;
}
.gallery li { 
  display: none;
  float: left;
  list-style: none;
  margin-right: 5px;
}
.more, .less {
  /* background-color: #000; */
  clear: both;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 14px;
  margin-top: 6px;
  padding: 6px 0;
  text-align: center;
	text-transform: uppercase;
  width: 320px;
}